.transactionTitle {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 8px;
}

.transactionData {
  font-size: 14px;
  color: #ada9a9;
}

.transactionStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  border-radius: 100px;
  font-size: 10px;
  font-weight: 500;
}
