.headerContainer {
  display: flex;
}

.headerUser {
  width: 45%;
  font-size: 14px;
  color: white;
  background: #232425;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerLevel {
  color: #ffde45;
  background: #232425;
  width: 45%;
  height: 42px;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  cursor: pointer;
}

.headerLanguages {
  display: flex;
  align-items: center;
  width: 10%;
}

.flagIcon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.languagesArrow {
  width: 15px;
  height: 15px;
  padding-left: 2px;
}

.languageMenu {
  position: absolute;
  top: 55px;
  z-index: 9999;
}

.languageOption {
  background: #232425;
  display: flex;
  border-radius: 8px;
  margin-bottom: 2px;
  align-items: center;
  padding: 5px;
  color: white;
  position: relative;
  right: 65px;
}

.languageOption span {
  margin-left: 3px;
}

.languageOption:hover {
  box-shadow: 0 0 4px 1px rgba(255, 222, 69, 0.8);
}
