@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

body {
  background-color: rgb(17, 17, 24);
  font-family: "Manrope", sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.home-user {
  background-color: rgb(40, 45, 51);
  width: 163px;
  height: 42px;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
  gap: 7.5px;
}

.home-level {
  color: #ffde45;
  background-color: rgb(40, 45, 51);
  width: 163px;
  height: 42px;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}

.home-top-catlog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.home-lower-catalog {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.home-reward {
  width: 320px;
  height: 100px;
  background-color: #282d33;
  border-radius: 16px;
  display: flex;
}

.reward-h1 {
  color: #ffde45;
  font-size: 16px;
  width: 700;
  margin-top: 22px;
  margin-left: 14px;
}

.reward-p {
  font-size: 14px;
  margin-left: 14px;
  margin-top: 11px;
  color: white;
}

.reward-img {
  width: 113;
  height: 113;
  top: -1px;
  left: -4px;
  margin-left: 12px;
}

.home-balance {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 12px;
}

.current-balance {
  background-color: rgb(40, 45, 51);
  width: 160px;
  height: 73px;
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-bonus {
  background-color: rgb(40, 45, 51);
  width: 163px;
  height: 73px;
  border-radius: 16px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.current-balance-p {
  font-size: 14px;
  font-weight: 500;
  color: #ada9a9;
  margin-left: 12px;
}

.current-balance-num {
  margin-left: 12px;
  font-size: 24px;
  font-weight: 600;
}

.img-coin {
  width: 24px;
  height: 24px;
}

.home-bonus-p {
  color: #ffde45;
  font-size: 14px;
  margin-left: 12px;
  margin-top: 12px;
}

.bonus-amount {
  display: flex;
  margin-left: 12px;
  align-items: center;
  gap: 4px;
}

.bonus-balance-num {
  font-size: 24px;
  font-weight: 600;
}

.home-info {
  width: 327px;
  height: 46px;
  text-align: center;
  font-size: 18px;
  color: #ffde45;
  font-weight: 400;
}

.home-info-div {
  display: flex;
  justify-content: center;
  margin-top: 81px;
}

.btn-more {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Manrope", sans-serif;
  width: 335px;
  height: 48px;
  background-color: rgb(17, 17, 24);
  border: 1px solid #ffde45;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 93px;
}
.btn-more img {
  margin-left: 5px;
}

.btn-staking {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Manrope", sans-serif;
  width: 335px;
  height: 48px;
  background-color: #ffde45;
  border-color: #ffde45;
  color: rgb(17, 17, 24);
  font-size: 16px;
  border-radius: 12px;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 19.17px;
}

.footer-countainer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  z-index: 100;
}

.footer-ul {
  background-color: #282d33;
  display: flex;
  list-style: none;
  gap: 23px;
  width: 319px;
  height: 42px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 11px 12px;
  -webkit-tap-highlight-color: transparent;
}

.footer-li {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease;
}

.footer-li.active img {
  -webkit-tap-highlight-color: transparent;
  filter: brightness(10.2) drop-shadow(0 0 8px rgba(255, 222, 69, 0.8));
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(0, 89, 255);
}

.stak-balance {
  width: 335px;
  height: 206px;
  background-color: #282d33;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 16px;
}

.stak-balance-price {
  text-align: center;
}

.stak-balance-title {
  padding-top: 16px;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.stak-balance-num {
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 12px;
}

.stak-balance-line {
  width: 303px;
  height: 12px;
  background-color: #ffffff33;
  display: flex;
  margin: 0 auto;
  border-radius: 96.33px;
}

.stak-btn-div {
  display: flex;
  justify-content: center;
  gap: 134px;
  margin-top: 12px;
}

.stak-first-div {
  text-align: center;
}

.deposit-p {
  font-size: 14px;
  color: white;
  font-weight: 600;
}

.stak-hist-title {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 16px;
}

.stak-info-p {
  text-align: center;
  color: #ada9a9;
  font-size: 14px;
  font-weight: 500;
  margin-top: 149px;
}

.main-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.ref-swith-div {
  width: 335px;
  height: 48px;
  background-color: #282d33;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-radius: 12px;
  margin-top: 10px;
}

.ref-countainer {
  height: 100vh;
}

.ref-swith-btn {
  font-size: 14px;
  font-weight: 800;
  width: 127px;
  height: 28px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 6px 8px;
  border-radius: 12px;
  color: white;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.ref-swith-btn:active {
  color: #111118;
  background-color: #ffde45;
}

.ref-h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: white;
  margin-top: 43px;
}

.ref-h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #ffde45;
  margin-top: 24px;
}

.ref-img {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
}

.ref-p-div {
  display: flex;
  justify-content: center;
}

.ref-p {
  text-align: center;
  color: white;
  width: 335px;
  height: 54px;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 400;
}

.ref-button {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 80px;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 99;
}

.ref-btn-invit {
  width: 271px;
  height: 48px;
  text-align: center;
  align-items: center;
  background-color: #ffde45;
  color: #111118;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 800;
}

.ref-copy-btn {
  width: 48px;
  height: 48px;
  border-radius: 16px;
  background-color: #ffde45;
}

.ref-copy-img {
  width: 20px;
  height: 20px;
  padding: 14px;
}

.coin-fre {
  width: 16px;
  height: 16px;
}

.frend-countainer {
  display: flex;
  background-color: #282d33;
  width: 335px;
  height: 40px;
  border-radius: 12px;
  align-items: center;
}

.frend-countainer-first {
  display: flex;
  background: linear-gradient(90deg, #343434 4.48%, #ffa319 100%);
  width: 335px;
  height: 40px;
  border-radius: 12px;
  align-items: center;
}

.frend-countainer-second {
  display: flex;
  background: linear-gradient(90deg, #343434 18.63%, #788799 100%);
  width: 335px;
  height: 40px;
  border-radius: 12px;
  align-items: center;
}

.frend-countainer-third {
  display: flex;
  background: linear-gradient(90deg, #343434 33.5%, #813906 100%);
  width: 335px;
  height: 40px;
  border-radius: 12px;
  align-items: center;
}

.frend-array {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.leader-array {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px;
  overflow-y: auto;
  padding-bottom: 80px;
}

.img-frend {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.name-frend {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
  width: 130px;
}

.coin-frend-img {
  width: 16px;
  height: 16px;
}

.coin-frend {
  font-size: 16px;
  font-weight: 400;
  color: #dedede;
  margin-left: 4px;
  margin-right: 4px;
}

.bonus-frend {
  color: #ffde45;
  font-size: 16px;
  font-weight: 600;
  margin-right: 4px;
}

.ton-img {
  width: 16px;
  height: 16px;
}

.ton-frend {
  font-size: 16px;
  font-weight: 400;
  margin-right: 4px;
  color: #dedede;
  margin-left: 4px;
}

.leader-h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: white;
}

.frend-countainer.current-user {
  background-color: #111118;
  border: 1px solid #ffde45;
}

.current-user-place {
  color: #dedede;
  margin-left: 11px;
}

.contest-countainer {
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 80px;
}

.contest-h1 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.contest-div {
  margin: 0 auto;
  margin-top: 12px;
  width: 335px;
  height: 325px;
  background-color: #ffde45;
  border-radius: 16px;
}

.top-text-contest {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
}

.top-text-one {
  font-size: 16px;
  font-weight: 700;
  background-color: #111118;
  color: #ffde45;
  padding: 5px;
  border-radius: 8px;
}

.top-text-two {
  font-size: 16px;
  font-weight: 700;
  color: #111118;
  margin-left: 2px;
}

.contest-img {
  width: 335px;
  height: 159px;
  margin-top: 8px;
}

.contest-text-div {
  width: 311px;
  height: 18px;
  margin-left: 12px;
}

.contest-text {
  font-size: 14px;
  font-weight: 700;
  color: #282d33;
}

.contest-timer {
  display: flex;
  justify-content: center;
  height: 24px;
  margin-top: 8px;
  align-items: center;
  gap: 8.62px;
}

.num-timer {
  width: 20px;
  height: 20px;
  background-color: white;
  color: #111118;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
}

.contest-num {
  font-size: 10.89px;
  font-weight: 600;
  color: #282d33;
}

.contest-btn-about {
  font-family: "Manrope", sans-serif;
  width: 311px;
  height: 48px;
  text-align: center;
  background-color: #111118;
  color: white;
  font-size: 16px;
  font-weight: 800;
  border-radius: 12px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  cursor: pointer;
}

.top-text-dubai {
  font-size: 16px;
  font-weight: 700;
}

.paty-img {
  width: 334px;
  height: 188px;
  margin-top: 8px;
}

.arrow {
  font-size: 22px; /* Размер стрелки */
  color: #ffffff; /* Цвет стрелки */
  transition: transform 0.3s ease; /* Анимация для стрелки */
}

.arrow:active {
  transform: rotate(90deg);
}

.level-p {
  width: 125px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный чёрный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Убедись, что окно поверх других элементов */
}

/* Само модальное окно */
.modal {
  position: fixed;
  top: -18px;
  bottom: 328px;
  padding: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 77%);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Список уровней */
.levels-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* Элемент уровня */
.level-item {
  display: flex;
  justify-content: space-between;
  background-color: #282d33;
  border-radius: 8px;
  cursor: pointer;
  width: 335px;
  height: 60px;
  border-radius: 12px;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease;
}

.level-item.selected {
  background-color: #ffde45;
  color: #111118;
  -webkit-tap-highlight-color: transparent;
}

.header-list-item {
  display: flex;
  width: 319px;
  margin-left: 8px;
  margin-right: 8px;
}

.level-p-header {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  width: 165px;
  margin-top: 8px;
}

.diamond-div {
  display: flex;
  gap: 8px;
}

.level-img {
  width: 24px;
  height: 24px;
  margin-top: 8px;
  background: transparent;
}

.expert {
  width: 90px;
  margin-top: 8px;
  height: 22px;
  font-weight: 700;
  color: #ac5fff;
}

.adv {
  width: 90px;
  margin-top: 8px;
  height: 22px;
  font-weight: 700;
  color: #0c9aff;
  margin-right: 4px;
}

.mid {
  width: 90px;
  margin-top: 8px;
  height: 22px;
  font-weight: 700;
  color: #ffde45;
}

.level-percent {
  font-size: 12px;
  font-weight: 600;
  width: 319px;
  height: 16px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
}

.level-item:hover {
  background-color: #ffde45;
  color: #111118;

  .mid {
    color: #111118;
  }
  .adv {
    color: #111118;
  }
  .expert {
    color: #111118;
  }
}

.level-title {
  width: 90px;
  margin-top: 8px;
  height: 22px;
  font-weight: 700;
}

/* Выбранный уровень */
.selected-level {
  margin-top: 20px;
  text-align: center;
}

.level-arrow {
  margin-left: 8px;
  font-size: 23px;
  font-weight: 200;
}

.level-btn-win {
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 335px;
  height: 42px;
  color: white;
  background-color: #232425;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 12px;
  padding-right: 9px;
}

.level-btn-win-arrow {
  font-size: 27px;
  font-weight: 200;
  height: 38px;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.level-btn-win-arrow:active {
  transform: rotate(1deg);
}

.check-img {
  width: 24px;
  height: 24px;
  margin-top: 6px;
}

.adv-level-title {
  width: 90px;
  margin-top: 8px;
  height: 22px;
  font-weight: 700;
  margin-right: 16px;
}
