@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(17, 17, 24);
  font-family: "Manrope", sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.home-user {
  background-color: rgb(40, 45, 51);
  width: 163px;
  height: 42px;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
  gap: 7.5px;
}

.home-level {
  color: #FFDE45;
  background-color: rgb(40, 45, 51);
  width: 163px;
  height: 42px;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 14px
}

.home-top-catlog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.home-lower-catalog {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.home-reward {
  width: 320px;
  height: 100px;
  background-color: #282D33;
  border-radius: 16px;
  display: flex;
}

.reward-h1 {
  color: #FFDE45;
  font-size: 16px;
  width: 700;
  margin-top: 22px;
  margin-left: 14px;
}

.reward-p {
  font-size: 14px;
  margin-left: 14px;
  margin-top: 11px;
  color: white;
}

.reward-img {
  width: 113;
  height: 113;
  top: -1px;
  left: -4px;
  margin-left: 12px;
}

.home-balance {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 12px;
}

.current-balance {
  background-color: rgb(40, 45, 51);
  width: 160px;
  height: 73px;
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-bonus {
  background-color: rgb(40, 45, 51);
  width: 163px;
  height: 73px;
  border-radius: 16px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.current-balance-p {
  font-size: 14px;
  font-weight: 500;
  color: #ADA9A9;
  margin-left: 12px;
}

.current-balance-num {
  margin-left: 12px;
  font-size: 24px;
  font-weight: 600;
}

.img-coin {
  width: 24px;
  height: 24px;
}

.home-bonus-p {
  color: #FFDE45;
  font-size: 14px;
  margin-left: 12px;
  margin-top: 12px;
}

.bonus-amount {
  display: flex;
  margin-left: 12px;
  align-items: center;
  gap: 4px;
}

.bonus-balance-num {
  font-size: 24px;
  font-weight: 600;
}

.home-info {
  width: 327px;
  height: 46px;
  text-align: center;
  font-size: 18px;
  color: #FFDE45;
  font-weight: 400;
}

.home-info-div {
  display: flex;
  justify-content: center;
  margin-top: 81px;
}

.btn-more {
  font-family: "Manrope", sans-serif;
  width: 335px;
  height: 48px;
  background-color: rgb(17, 17, 24);
  border-color: #FFDE45;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 93px;
}

.btn-staking {
  font-family: "Manrope", sans-serif;
  width: 335px;
  height: 48px;
  background-color: #FFDE45;
  border-color: #FFDE45;
  color: rgb(17, 17, 24);
  font-size: 16px;
  border-radius: 12px;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 32px;
  margin-bottom: 19px;
}

.footer-countainer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  z-index: 100;
} 

.footer-ul {
  background-color: #282D33;
  display: flex;
  list-style: none;
  gap: 23px;
  width: 319px;
  height: 42px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 11px 12px;
}

.footer-li {
  cursor: pointer;
}

.user-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(0, 89, 255);
}